<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Management System</title>
    <link rel="stylesheet" href="/style.css" />
    <style>
      h1 {
        margin: 0;
        text-align: center;
        padding: 1rem;
        background-color: #007bff;
      }
      h1 a {
        text-decoration: none;
        color: white;
      }
    </style>
  </head>
  <body>
    <header>
      <h1><a href="http://localhost:3000/">Event Management System</a></h1>
    </header>
  </body>
</html>
